<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h4>Change Password</h4>
        </div>
        <div class="col-md-12" ng-form="addForm" ng-enter="changePassword(user.id)">
            <div class="form-group">
                <label>New Password</label>
                <input type="text" name="password" class="form-control" ng-model="pass" required />
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" type="button" ng-disabled="addForm.$invalid" ng-click="changePassword(user.id)">Change</button>
                <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>